main{
    background-color: #dfffab;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 50px);
    .logo{
    position: absolute;
    top: 65%;
    left: 50%;
    width: 40%;
    transform: translate(-50%,-50%);
    }
    .logo-webpack{
        position: absolute;
        top: 31%;
        left: 50%;
        width: 9%;
        transform: translate(-50%, -50%);
        }
}